@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
*{
    overflow-y:visible;
    height: fit-content;
   
}
/*
.bgImg{
    position: absolute;
    width:50%;
    height:100%;
}
.bgImg img{
    position: relative;

    width: 100%;
    height:100%;
}*/
.bgimg{
    text-align: center;
    height:100%;
    background-color: #f2f2f2;
}
.bgimg img{
    width:60%;
    
}
.containTwo{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left:50px;
    width:100%;
    height:100%;
    gap:30px;
   
}
.rowOne{
    /*border: solid 1px red;*/
    width:55%;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    gap: 10px;
    
}

.images{
    margin-left:auto;
    margin-right: auto;
    border:5px solid red;
    width:200px;
    height:200px;
}
.rowOne p{
    font-size: 18px;
    
    padding-top: 10px;
   
}.rowOne h2{
    text-align: center;
    
}
.rowTwo{
    border: solid 5px white;
    width:35%;
    height:100vh;
    margin:auto;
    border-image: linear-gradient(45deg, #439CFB, #15223C) 1;
    /*animation: loading 1.3s linear infinite;*/
}
/*
@keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  */


.space{
    height:100px;
    
}
.btnh{

    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    border:5px solid #15223C !important;
    width:30%;
    border-radius: 1px; 
    color:aliceblue !important;
    background-color: #15223C !important;
    
  
}
.btnh:hover{
    background-color: white !important;
   border: 5px solid #15223C !important;
   color: #15223C !important;
}