@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


.nav-container{
    display:flex;
   margin:auto;
   font-family:  'Oswald', sans-serif;
}
.navbar-toggler{
    margin-right:auto;
    background-color: #15223C !important;
    margin-right: auto !important;
    background-image: url("../img/navd.png");
}

.navbar{
    background-color: #15223C !important;
    margin-top: 0;
    height:70px;
    font-size: 17px;
        border-bottom: 5px solid #15223C;
        box-shadow:0px 10px 10px rgb(0 0 0 / 60%);
}
.nav-link{
    color:aliceblue !important;
}
.nav-link:hover{
    text-decoration: underline;     
    text-decoration-color: white;  
    text-decoration-thickness: 4px;
}