@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


.nav-container{
    display:flex;
   margin:auto;
   font-family:  'Oswald', sans-serif;
}
.navbar-toggler{
    justify-content: end !important;
    background-color: #15223C !important;

}
.navbar{
    background-color: #15223C !important;
    height:70px;
    font-size: 17px;
    
}
.nav-link{
    color:aliceblue !important;
}
.nav-link:hover{
    text-decoration: underline;     
    text-decoration-color: white;  
    text-decoration-thickness: 4px;
}